.container{
    width: 500px;
    margin: 50px auto;
    label{
        text-align: center;
        display: block;
    }
    input{
        display: block;
        width: 200px;
        margin:10px auto;
        line-height: 30px;
        border: 1px solid green;
        border-radius:15px;
        padding: 0 10px ;
        outline: none;
        
    }
}